<p id="notice"><%= notice %></p>

<p>
  <strong>Code iata:</strong>
  <%= @company.code_iata %>
</p>

<p>
  <strong>Nom company:</strong>
  <%= @company.nom_company %>
</p>

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
